        <%= stylesheet_link_tag "bsform/a1" %>
        <%= stylesheet_link_tag "bsform/a2" %>
        <%= stylesheet_link_tag "bsform/a3" %>


           <div class="block blur">
        <div class="container">
            <div class="row">            
                <div class="span12">         
                    <div class="clear-form">                        
                        <form>               
                            <div class="form-heading gray">
                                <h3 class="header center">Sign In</h3>
                            </div>  
                            <div class="form-body">
                                <div class="pair-group">
                                    <input type="text" class="input-block-level" placeholder="Email address">
                                    <input type="password" class="input-block-level" placeholder="Password">         
                                </div>
                            </div>                                
                            <div class="form-footer">                                
                                <button class="btn btn-large btn-blue btn-block" type="submit">Login</button> 
                                <p class="center">Not yet a member? <a href="#">Sign up now</a> <i class="icon-arrow-right"></i></p>
                            </div>                
                        </form>
                    </div>
                </div>   
            </div>
        </div>
    </div>